<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/jantent/header::header(null,null)"></div>
<body>
<div class="am-g am-g-fixed blog-fixed index-page">
    <div class="am-u-md-8 am-u-sm-12">
        <div th:each="article: ${articles.list}">

            <article class="am-g blog-entry-article">
                <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                    <img th:src="@{${commons.show_thumb(article)}}" alt="" class="am-u-sm-12"/>
                </div>
                <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                    <!-- 文章分类 -->
                    <span class="blog-color" th:utext="${commons.show_categories(article.categories)}"></span>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <!-- 发布时间 -->
                    <span th:text="'发布于 '+ ${commons.fmtdate(article.created)}"></span>
                    <h2>
                        <div><a th:href="${commons.permalink(article)}"
                                th:text="${article.title}"></a>
                        </div>
                    </h2>
                    <!-- 文章摘要-->
                    <div th:utext="${commons.intro(article,75)}"></div>
                </div>
            </article>

        </div>

        <div class="am-pagination">
            <div th:replace="comm/macros::pageNav(${articles},'←','→','page')"></div>
        </div>
    </div>


    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>公司简介</span></h2>
            <img th:src="@{/jantent/assets/img/f161.jpg}" alt="about me" class="blog-entry-img"/>
            <p>
                陕西陆跃建筑装饰工程有限责任公司
            </p>
            <p style="font-size: 14px;text-align: left">
                &nbsp;&nbsp;&nbsp;&nbsp;室内外装饰工程、灯光音响安装工程、园林景观工程、绿化工程、钢结构工程、网络工程、幕墙工程、木结构工程、道路工程、不锈钢铁艺工程、铝合金工程、电器化自动安装工程、消防工程、房屋建筑工程、通风工程、户外广告工程、彩钢工程的设计与施工；建筑材料的销售。（依法须经批准的项目，经相关部门批准后方可开展经营活动
            </p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>联系我们</span></h2>
            <p>
                公司电话：15091890735<br>
                公司地址：陕西省西安市雁塔区
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">

            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="themes/jantent/footer::footer"></div>
</html>
